[project]
	description = open Multiple View Geometry library. Basis for 3D computer vision and Structure from Motion.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/json87
[access "refs/for/refs/*"]
	read = group user/json87
	push = group user/json87
	label-Code-Review = -2..+2 group user/json87
	label-Verified = -1..+1 group user/json87
	rebase = group user/json87
	removeReviewer = group user/json87
	submit = group user/json87
[access "refs/heads/*"]
	read = group user/json87
	create = group user/json87
	push = +force group user/json87
	pushMerge = group user/json87
[access "refs/tags/*"]
	push = +force group user/json87
	pushTag = group user/json87
	pushSignedTag = group user/json87
